{% extends "website/base.html" %}
{% load static %}

{% block title %} Clients of Gavin Schilling Marketing {% endblock title %}

{% block content %}
    <div id="carouselExampleFade" class="container carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <header>
                <h1>Recent Client List</h1>
            </header>

            <div class="carousel-item active" id="carousel-Acuative-Corporation">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Acuative-Corporation.jpg' %}"
                     alt="Acuative Corporation"
                >
            </div>

            <div class="carousel-item" id="carousel-Adidas">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Adidas.png' %}"
                     alt="Adidas"
                >
            </div>

            <div class="carousel-item" id="carousel-Advance-America-&-Cash-Advance">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Advance-America.jpg' %}"
                     alt="Advance America | Cash Advance"
                >
            </div>

            <div class="carousel-item" id="carousel-Ann-Taylor">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Ann-Taylor.png' %}"
                     alt="Ann Taylor"
                >
            </div>

            <div class="carousel-item" id="carousel-AT&T">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/AT&T.jpg' %}"
                     alt="AT&T"
                >
            </div>

            <div class="carousel-item" id="carousel-Availe">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Availe.png' %}"
                     alt="Availe"
                >
            </div>

            <div class="carousel-item" id="carousel-Bailiwick">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Bailiwick.png' %}"
                     alt="Bailiwick"
                >
            </div>

            <div class="carousel-item" id="carousel-Boomtown-Network">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Boomtown-Network.png' %}"
                     alt="Boomtown Network, Inc."
                >
            </div>

            <div class="carousel-item" id="carousel-BrightSign-Media">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/BrightSign-Media.png' %}"
                     alt="BrightSign Media"
                >
            </div>

            <div class="carousel-item" id="carousel-Broadband-Hospitality">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Broadband-Hospitality.png' %}"
                     alt="Broadband Hospitality"
                >
            </div>

            <div class="carousel-item" id="carousel-BT-Americas">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/BT-Americas.jpg' %}"
                     alt="BT Americas"
                >
            </div>

            <div class="carousel-item" id="carousel-Burgess-and-Niple">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Burgess-and-Niple.png' %}"
                     alt="Burgess & Niple"
                >
            </div>

            <div class="carousel-item" id="carousel-Caliber-Collision">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Caliber-Collision.png' %}"
                     alt="Caliber Collision"
                >
            </div>

            <div class="carousel-item" id="carousel-Campbell's">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Campbell\'s.png' %}"
                     alt="Campbell's"
                >
            </div>

            <div class="carousel-item" id="carousel-Carter's">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Carter\'s.png' %}"
                     alt="Carter's"
                >
            </div>

            <div class="carousel-item" id="carousel-Centrics-IT">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Centrics-IT.jpg' %}"
                     alt="Centrics IT"
                >
            </div>

            <div class="carousel-item" id="carousel-Coach">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Coach.png' %}"
                     alt="COACH"
                >
            </div>

            <div class="carousel-item" id="carousel-Datamax-Services">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Datamax-Services.png' %}"
                     alt="Datamax Services, Inc."
                >
            </div>

            <div class="carousel-item" id="carousel-Decision-One-Corporation">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Decision-One-Corporation.jpg' %}"
                     alt="Decision One Corporation"
                >
            </div>

            <div class="carousel-item" id="carousel-Deployment-Solutions-Inc">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Deployment-Solutions-Inc.png' %}"
                     alt="Deployment Solutions, Inc."
                >
            </div>

            <div class="carousel-item" id="carousel-Designer-Shoe-Warehouse">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/svg/Designer-Shoe-Warehouse.svg' %}"
                     alt="Designer Shoe Warehouse"
                >
            </div>

            <div class="carousel-item" id="carousel-Dover-Corporation">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/gif/Dover-Corporation.gif' %}"
                     alt="Dover Corporation"
                >
            </div>

            <div class="carousel-item" id="carousel-DXC-Technology">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/DXC-Technology.png' %}"
                     alt="DXC Technology"
                >
            </div>

            <div class="carousel-item" id="carousel-Enterprise-Rent-A-Car">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Enterprise-Rent-A-Car.jpg' %}"
                     alt="Enterprise Rent-A-Car"
                >
            </div>

            <div class="carousel-item" id="carousel-Essintial-Enterprise-Solutions">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Essintial-Enterprise-Solutions.jpg' %}"
                     alt="Essintial Enterprise Solutions"
                >
            </div>

            <div class="carousel-item" id="carousel-Evereve">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Evereve.png' %}"
                     alt="Evereve"
                >
            </div>

            <div class="carousel-item" id="carousel-Extended-Stay-America">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Extended-Stay-America.jpg' %}"
                     alt="Extended Stay America"
                >
            </div>

            <div class="carousel-item" id="carousel-First-Watch">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/First-Watch.jpg' %}"
                     alt="First Watch"
                >
            </div>

            <div class="carousel-item" id="carousel-Game-Restaurant">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Game-Restaurant.jpg' %}"
                     alt="Game Restaurant"
                >
            </div>

            <div class="carousel-item" id="carousel-Genesis-Networks">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Genesis-Networks.jpg' %}"
                     alt="Genesis Networks"
                >
            </div>

            <div class="carousel-item" id="carousel-GlobalTech-Solutions">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/GlobalTech-Solutions.png' %}"
                     alt="Global Tech Solutions"
                >
            </div>

            <div class="carousel-item" id="carousel-Gordon-Biersch-Brewery-Restaurant">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Gorden-Biersch-Brewery-Restaurant.jpg' %}"
                     alt="Gordon Biersch Brewery Restaurant"
                >
            </div>

            <div class="carousel-item" id="carousel-HCL">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/HCL.png' %}"
                     alt="HCL"
                >
            </div>

            <div class="carousel-item" id="carousel-HelloTech">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/HelloTech.png' %}"
                     alt="HelloTech"
                >
            </div>

            <div class="carousel-item" id="carousel-Hemmersbach">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Hemmersbach.png' %}"
                     alt="Hemmersbach US"
                >
            </div>

            <div class="carousel-item" id="carousel-Home-Depot">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Home-Depot.jpg' %}"
                     alt="Home Depot"
                >
            </div>

            <div class="carousel-item" id="carousel-Honeywell">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Honeywell.png' %}"
                     alt="Honeywell"
                >
            </div>

            <div class="carousel-item" id="carousel-Illinois-Wholesale-Cash-Register">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Illinois-Wholesale-Cash-Register.jpg' %}"
                     alt="Illinois Wholesale Cash Register, Inc."
                >
            </div>

            <div class="carousel-item" id="carousel-ImageQuest-Managed-Services">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/ImageQuest-Managed-Services.png' %}"
                     alt="ImageQuest Managed Services"
                >
            </div>

            <div class="carousel-item" id="carousel-J-Crew">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/J.Crew.jpg' %}"
                     alt="J. Crew"
                >
            </div>

            <div class="carousel-item" id="carousel-J-Jill">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/J-Jill.png' %}"
                     alt="J. Jill"
                >
            </div>

            <div class="carousel-item" id="carousel-Joseph-Banis-Plastic-Surgery-Medical-Skin-Care">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Joseph-Banis-Plastic-Surgery-Medical-Skin-Care.jpg' %}"
                     alt="Dr. Joseph Banis, M.D. | Plastic Surgery Medical Skin Care"
                >
            </div>

            <div class="carousel-item" id="carousel-L-Brands">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/L-Brands.jpg' %}"
                     alt="L Brands"
                >
            </div>

            <div class="carousel-item" id="carousel-Lane-Bryant">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/svg/Lane-Bryant.svg' %}"
                     alt="Lane Bryant"
                >
            </div>

            <div class="carousel-item" id="carousel-Lighthouse-Communications-and-Leasing">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Lighthouse-Communications.jpg' %}"
                     alt="Lighthouse Communications & Leasing, Inc."
                >
            </div>

            <div class="carousel-item" id="carousel-LMI-Systems">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/LMI-Systems.png' %}"
                     alt="LMI Systems, Inc."
                >
            </div>

            <div class="carousel-item" id="carousel-Logical-Maintenance-Solutions">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Logical-Maintenance-Solutions.png' %}"
                     alt="Logical Maintenance Solutions"
                >
            </div>

            <div class="carousel-item" id="carousel-Lynch-Cox-Gilman-and-Goodman">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Lynch-Cox-Gilman-and-Goodman.png' %}"
                     alt="Logical Maintenance Solutions"
                >
            </div>

            <div class="carousel-item" id="carousel-Macro-Integration-Services">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Macro-Integration-Services.jpg' %}"
                     alt="Macro Integration Services"
                >
            </div>

            <div class="carousel-item" id="carousel-MainTech">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/MainTech.jpg' %}"
                     alt="MainTech"
                >
            </div>

            <div class="carousel-item" id="carousel-Massage-Envy-Spa">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Massage-Envy-Spa.jpg' %}"
                     alt="Massage Envy Spa"
                >
            </div>

            <div class="carousel-item" id="carousel-Maurice's">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Maurice\'s.png' %}"
                     alt="Maurice's"
                >
            </div>

            <div class="carousel-item" id="carousel-McDonald's">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/McDonald\'s.png' %}"
                     alt="McDonald's"
                >
            </div>

            <div class="carousel-item" id="carousel-Modis">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Modis.png' %}"
                     alt="Modis"
                >
            </div>

            <div class="carousel-item" id="carousel-Momentum-Telecom">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Momentum-Telecom.png' %}"
                     alt="Momentum Telecom"
                >
            </div>

            <div class="carousel-item" id="carousel-Morgan&Morgan">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpeg/Morgan-and-Morgan.jpeg' %}"
                     alt="Morgan & Morgan"
                >
            </div>

            <div class="carousel-item" id="carousel-Morgan-Stanley">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Morgan-Stanley.jpg' %}"
                     alt="Morgan Stanley"
                >
            </div>

            <div class="carousel-item" id="carousel-Newgentek">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Newgentek.png' %}"
                     alt="Newgentek"
                >
            </div>

            <div class="carousel-item" id="carousel-nfrastructure">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/nfrastructure.png' %}"
                     alt="nfrastructure"
                >
            </div>

            <div class="carousel-item" id="carousel-OshKosh-B\'gosh">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/OshKosh-B\'gosh.png' %}"
                     alt="OshKosh B'gosh"
                >
            </div>

            <div class="carousel-item" id="carousel-Panda-Express">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Panda-Express.jpg' %}"
                     alt="Panda Express"
                >
            </div>

            <div class="carousel-item" id="carousel-Pepsi-Corporation">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Pepsi-Corporation.jpg' %}"
                     alt="Pepsi Corporation"
                >
            </div>

            <div class="carousel-item" id="carousel-Pomeroy-IT-Solutions">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/gif/Pomeroy.gif' %}"
                     alt="Pomeroy IT Solutions"
                >
            </div>

            <div class="carousel-item" id="carousel-Ross-Dress-for-Less">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Ross-Dress-for-Less.png' %}"
                     alt="Ross | Dress for Less"
                >
            </div>

            <div class="carousel-item" id="carousel-Rotary-Lift">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Rotary-Lift.jpg' %}"
                     alt="Rotary Lift"
                >
            </div>

            <div class="carousel-item" id="carousel-Scout-Shop">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Scout-Shop.jpg' %}"
                     alt="Scout Shop"
                >
            </div>

            <div class="carousel-item" id="carousel-SHI-Corporate-Services">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/SHI.png' %}"
                     alt="SHI - Corporate Services"
                >
            </div>

            <div class="carousel-item" id="carousel-SirviS-Global-Super-Network">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/SirviS-Global-Super-Network.png' %}"
                     alt="SirviS Global Super Network"
                >
            </div>

            <div class="carousel-item" id="carousel-Spectrotel">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Spectrotel.jpg' %}"
                     alt="Spectrotel"
                >
            </div>

            <div class="carousel-item" id="carousel-Spencer-Technologies">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Spencer-Technologies.jpg' %}"
                     alt="Spencer Technologies"
                >
            </div>

            <div class="carousel-item" id="carousel-SpotOn">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/SpotOn.jpg' %}"
                     alt="SpotOn"
                >
            </div>

            <div class="carousel-item" id="carousel-Sunglass-Hut">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Sunglass-Hut.png' %}"
                     alt="Sunglass Hut"
                >
            </div>

            <div class="carousel-item" id="carousel-Target">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Target.jpg' %}"
                     alt="Target"
                >
            </div>

            <div class="carousel-item" id="carousel-Tie-National">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Tie-National.jpg' %}"
                     alt="Tie National, LLC"
                >
            </div>

            <div class="carousel-item" id="carousel-Tractor-Supply-Company">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Tractor-Supply-Company.jpg' %}"
                     alt="Tractor Supply Company"
                >
            </div>

            <div class="carousel-item" id="carousel-Trader-Joe's">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Trader-Joe\'s.png' %}"
                     alt="Trader Joe's"
                >
            </div>

            <div class="carousel-item" id="carousel-Trextel">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Trextel.png' %}"
                     alt="Trextel, Inc."
                >
            </div>

            <div class="carousel-item" id="carousel-Vehicle-Service-Group">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Vehicle-Service-Group.jpg' %}"
                     alt="Vehicle Service Group, LLC"
                >
            </div>

            <div class="carousel-item" id="carousel-Victoria's-Secret">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Victoria\'s-Secret.jpg' %}"
                     alt="Victoria's Secret"
                >
            </div>

            <div class="carousel-item" id="carousel-Walgreens">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/Walgreens.jpg' %}"
                     alt="Walgreens"
                >
            </div>

            <div class="carousel-item" id="carousel-Walmart">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Walmart.png' %}"
                     alt="Walmart"
                >
            </div>

            <div class="carousel-item" id="carousel-Wooded-Glen-Recovery-Center">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/png/Wooded-Glen-Recovery-Center.png' %}"
                     alt="Wooded Glen Recovery Center"
                >
            </div>

            <div class="carousel-item" id="carousel-WoodSpring-Suites">
                <img class="d-block w-100"
                     src="{% static 'img/brand_logo/jpg/WoodSpring-Suites.jpg' %}"
                     alt="WoodSpring Suites"
                >
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="box"></div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
{% endblock content %}