<!DOCTYPE html>
<html lang="en-US">
{% load static %}

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="title" content="Gavin Schilling Marketing, subsidary of Schilling Enterprises" />
    <meta name="description" content="Gavin Schilling Marketing is a premire full-service global strategies marketing firm specializing both online and offline." />
    <meta name="author" content="Gavin Schilling" />
    <meta itemprop="image" content="https://schillingenterprises.github.io/Gavin-Schilling-Marketing/dist/images/png/Schilling-Enterprises.png" />
    <meta itemprop="image" content="https://schillingenterprises.github.io/Gavin-Schilling-Marketing/dist/images/png/Programming-Languages-Word-Cloud.png" />
    <meta property="place:location:latitude" content="38.2718520" />
    <meta property="place:location:longitude" content="-85.6177890" />
    <meta property="place:location:altitude" content="176" />
    <meta property="fb:app_id" content="561430954040905" />
    <meta property="og:title" content="Gavin Schilling Marketing" />
    <meta property="og:description" content="Gavin Schilling Marketing is a premire full-service global strategies marketing firm specializing both online and offline." />
    <meta property="og:url:secure_url" content="https://schillingenterprises.github.io/Gavin-Schilling-Marketing/index.html" />
    <meta property="og:image:secure_url" content="https://schillingenterprises.github.io/Gavin-Schilling-Marketing/img/Gavin_Schilling_Marketing_logo.jpg" />
    <meta property="og:type" content="business.business" />
    <meta property="og:site_name" content="Gavin Schilling Marketing" />
    <meta property="fb:admins" content="optimal.leader" />
    <meta property="business:contact_data:street_address" content="1008 Lake Way" />
    <meta property="business:contact_data:locality" content="Louisville" />
    <meta property="business:contact_data:region" content="KY" />
    <meta property="business:contact_data:postal_code" content="40222-7349" />
    <meta property="business:contact_data:country_name" content="US" />
    <meta name="twitter:title" content="Gavin Schilling Marketing" />
    <meta name="twitter:description" content="Gavin Schilling Marketing is a premire full-service global strategies marketing firm specializing both online and offline." />
    <meta name="twitter:site" content="@schillgc" />
    <meta name="twitter:creator" content="@schillgc" />
    <meta name="twitter:url" content="https://schillingenterprises.github.io/Gavin-Schilling-Marketing/index.html" />
    <meta name="twitter:image:src" content="https://schillingenterprises.github.io/Gavin-Schilling-Marketing/img/Schilling-Enterprises.png" />
    <meta name="twitter:card" content="summary" />

    <title>{% block title %} {% endblock title %}</title>

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//cdn.domain.com">
    <link rel="preload" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Katibeh|Poiret+One|Tangerine:700">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">
    <link rel=”canonical” href=”https://schillingenterprises.github.io/Gavin-Schilling-Marketing/index.html” />

    <script type="text/javascript">
      (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;})(window,document.documentElement,'async-hide','dataLayer',4000,{'GTM-MFZG64F':true});
    </script>
  </head>

  <body>
    <div class="jumbotron">

      <header class="display-3">
        <a href="https://about.me/gavinschilling">
          <img class="d-block w-1 center" src="{% static 'img/brand_logo/jpg/Gavin_Schilling_Marketing.jpg' %}" alt="Gavin Schilling Marketing">
        </a>
      </header>

      <h2 class="lead">
        Leading Business & Technology Ecosystems
      </h2>

      <hr class="m-y-md">
    </div>


    {% block content %} {% endblock content %}


    <footer>
      <nav class="breadcrumb">
        {% block breadcrumb %}
          <a class="breadcrumb-item" href="https://schillingenterprises.github.io/Gavin-Schilling-Marketing/index.html">Home</a>
        {% endblock breadcrumb %}
      </nav>

      <section class="justify-content-xs-center" id="trailer">
        <small>&copy;
          <time>
            <script type="text/javascript">document.write(new Date().getFullYear());</script>
          </time>

          <cite>
            <a href="https://www.facebook.com/gavinschillingmarketing"> Gavin Schilling Marketing - Subsidary of Schilling Enterprises
              <details>
                <address>
                  1008 Lake Way | Suite 7<br>
                  Louisville, KY 40222-7349
                </address>
                <a href="tel:5029945865">
                  <figure>
                    <img class="submit" src="{% static 'img/page_icon/png/button.png' %}" alt="Call button">
                  </figure>
                </a>
              </details>
            </a>
          </cite>
        </small>
      </section>

      <section class="fb-like" data-share="true" data-width="450" data-show-faces="true"></section>
    </footer>

    <script type="text/javascript" id="defer-js" src="https://cdn.jsdelivr.net/npm/@shinsenter/defer.js@2.6.0/dist/defer_plus.min.js"></script>
    <script type="text/javascript" src="{% static 'js/loadCSS.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/GoogleAnalytics.js' %}"></script>
    <script type="text/javascript" id="mcjs" src="{% static 'js/MailChimp.js' %}"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript" src="{% static 'js/mojo.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Bootstrap5_1_3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/downloadJSAtOnload.js' %}"></script>

  </body>
</html>