{% extends "website/base.html" %}
{% load static %}

{% block title %} Gavin Schilling Marketing - Best AI, BI, IT, ML, OOP, R&D Firm {% endblock title %}

{% block content %}
    {% include "website/services/services.html" %}
    <main>
        <article class="container">
            <section class="row">
                <div class="fb-comments hidden-sm-down" data-href="https://schillingenterprises.github.io/Gavin-Schilling-Marketing/" data-width="40%" data-numposts="5"></div>
                <div id="fb-root"></div>

                <nav class="row justify-content-evenly">
                    <figure class="col align-self-start" id="clients">
                        <a href="./clients">
                            <img class="img-responsive img-fluid" src="{% static 'img/page_icon/jpg/Our_Clients.jpg' %}" alt="Clients">
                        </a>
                        <figcaption></figcaption>
                    </figure>

                    <figure class="col align-self-end" id="services">
                        <a href="#hamburger">
                            <img class="img-responsive img-fluid" src="{% static 'img/page_icon/jpg/Our_Services.jpg' %}" alt="Clients">
                        </a>
                        <figcaption></figcaption>
                    </figure>
                </nav>
            </section>
        </article>
    </main>

    <script type="text/javascript" src="{% static 'js/Facebook.js' %}"></script>

{% endblock content %}